.encabezado{
  background-image: url(img/header.jpg);
 background-size:100%;
 background-repeat: no-repeat;
width: 100%;
height: 100vh;
display: flex;
flex-wrap: wrap;
padding-bottom: 0;
}

.encabezado nav ul{
    margin-top: 175px;
    list-style: none;
    margin-right: 105px;
}
.encabezado nav ul li{
    
    display: inline-block;
    inline-size: auto;
}
.encabezado nav ul li a{
    margin: 10px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 5px;
}
.encabezado nav  ul li a:hover{

    color: #7fb84a;
}

.encabezado h1{
   
    
    width: 450px;
    color: white;
    font-size:xx-large;
    padding: 25px;
    margin-left: 99px;
    margin-top: 450px;
}
.navegacion{
    display: flex;
    width: 100%;
    height: auto;
}
.navegacion img{
    margin-top: 100px;
    height: 100px;
    margin-left: 150px;
}
ul{
    width: 100%;
    display: flex;
    justify-content: end;
}



main{
    width: 100%;
    margin-top: 0;
    margin-bottom: auto;
}
.moreustitle{
    text-align: center;
    position: top center;
    font-style: normal;
    
}
.moreus{
    align-content: center;
    width: 100%;
    text-align: center;
}

.moreus article{
    text-align: center;
    align-content: center;
  width: 240px;
  display: inline-block;
    padding: 45px;
  
}

.hometosell{

align-content: center;
width: 100%;
text-align: center;

}

.hometosell article{
    text-align: center;
    align-content: center;
    width: 200px;
    display: inline-block;
    background-color: #efeff7;
    padding: 45px;
    margin: 5px;
}

.ad {
    margin: 0 0 0 0;
   width: 100%;
   height: 100%;


}
.ad img{
height: 100%;
width: 100%;

}

.iconitos{
    display: flex;
    width: 200px;
    justify-content: space-between;
}
.iconitos figure{
    margin: 0 ;
    padding: 0;
    
}
.iconitos img{
    height: 25px
}
.hometosell em{
    color: #7fb84a;
    font-style: normal;

}
.hometosell article button{
background-color: #e18838;
text-align: center;
color: white;
width: 150px;
height: 30px;
margin-bottom: 5px;
border: none;
}
.todas{
    text-align: center;
    margin-top: 25px;
margin-left: 735px;
background-color: #7fb84a;
color: white;
justify-content: center;
font-size: smaller;
border: none;
height: 30px;
}
.misc{
    width: 100%;
}
.banner{
    margin-top: 6em;
    background-image: url(img/encuentra.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width:100%;
    min-height: 350px;
    color: white;
    text-align: center;
}
.banner h3{
    padding-top: 60px;
    margin-bottom: 40px;
}
.banner h4{
    margin-top: 40px;
   
}
.banner button{
    margin-top: 40px;
    margin-bottom: 60px;
    background-color: #e18838;
    color:  white;
    border: none;
    height: 30px;
    font-size: x-small;
    padding: 1em;
}





footer{
display: grid;
width: 100%;
height: fit-content;
 background-color: #2f3340;
}

footer ul{
    justify-content: left;
    list-style: none;
    color: white;
}
footer ul li a{
    margin: 15px;
    color: white;
    text-decoration: none;
}
footer ul li a:hover{
color: #7fb84a;
}
footer h5{
    color: white;
    text-align: center;
    margin-bottom: 1em;
}

.misc{
width: 100%;
display: flex;
justify-content: center;

}

.blog{
    
    display:flex;
    flex-direction: column;
    
}

.blog div{

    display: flex;
    height: 100%;
}
.blog figure{
    margin: 0 10px 0 0;
}
.blog figure img{
    position: static;
}
.rayita{
    max-height: 4px;
    width: 120px;
    background-color: #6aad2b;
}
.testimoniales{
    display: flex;
    flex-direction: column;
}

.testimoniales h3{
    text-align: center;
}
.testimoniales p{
    padding: 35px;
    align-content: center;
    width: 200px;
    height: 260px;
    background-color: #7fb84a;
    border-radius: 4px;
    color: white;
    text-align: center;
    justify-content: center;
   margin-left: 10px;
}

.centrico {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    width: max-content;
    margin-right:10px ;
}

.centrico em{
    color: #e39047;
    text-decoration: none;
    font-style: normal;
}

.centrico h4{
    height: min-content;
    margin: 0;
}
.centrico p{
    max-height: 100%;
    font-size: small;
}
